<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sweet!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="icon" href="{{ asset('img/icon.png') }}">
    {% block extrastyles %}{% endblock %}
</head>
<body>
<div class="container">
    <header>
        <h1><a href="{{ path("main_home") }}"><img src="{{ asset("img/logo.svg") }}" alt="Sweet!"></a></h1>
        {% include("inc/nav.html.twig") %}
        <div> {{ "now" | date("Y-m-d H:i:s") }} Sweet!</div>
    </header>
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class=" flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <main>
    {% block body %}
    {% endblock %}
    </main>
    <footer>
    </footer>
</div>
</body>
</html>